// Variables

// $main-color: #ffbc00;
// $light-main-color: #ffd766;
// $dark-main-color: #b38400;

$light-bg-color: #ffebcd;
$light-toggle-one: #28293e;
$light-toggle-two: #3a3b5e;
$dark-toggle-one: #111728;
$dark-toggle-two: #1a1f40;
$knob-one: #91eae4;
$knob-two: #86abe7;

$dark-shadow: rgba(0, 0, 0, 0.5);
$shadow-one: rgba(0, 255, 233, 0.3);
$shadow-two: rgba(91, 250, 238, 0.8);
$shadow-three: rgba(134, 168, 231, 0.8);

// Animation
@mixin animate($animation, $duration, $method, $times) {
  & {
    animation: $animation $duration $method $times;
  }
}
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

body {
  background-color: $light-bg-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

.toggle-container {
  position: relative;
}

.toggle {
  width: 7.5rem;
  height: 3.125rem;
  background: linear-gradient(145deg, #28293e, #3a3b5e);
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease, box-shadow 0.3s ease;

  &.active {
    background: linear-gradient(145deg, #111728, #1a1f40);
    box-shadow: 0 5px 15px rgba(0, 255, 233, 0.3);
    .knob {
      transform: translateX(4.3rem);
      box-shadow: 0 5px 20px rgba(91, 250, 238, 0.8);
      background: linear-gradient(145deg, #91eae4, #86abe7);

      &::before {
        // animation: ripple 0.6s ease-out;

        @include keyframes(ripple) {
          0% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(0.5);
          }

          100% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(1.5);
          }
        }
        @include animate(ripple, 0.6s, ease-out, 1);
      }
    }
  }
}
.knob {
  width: 3.125rem;
  height: 3.125rem;
  background: linear-gradient(145deg, #86abe7, #91eae4);
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(134, 168, 231, 0.8);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease, box-shadow 0.3s ease, transform 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7.5rem;
    height: 7.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translatee(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

.icon {
  font-size: 1.5rem;
  color: #fff;
}

// .toggle.active + .knob::before {
//   @include keyframes(ripple) {
//     0% {
//       opacity: 1;
//       transform: translate(-50%, -50%) scale(0.5);
//     }

//     100% {
//       opacity: 0;
//       transform: translate(-50%, -50%) scale(1.5);
//     }
//   }
//   @include animate(ripple, 0.6s, ease-out, 1);
// }
